body {
  font-family: 'Nunito';
  background: rgb(247, 247, 247);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.85);
}

.container {
  display: grid;
  margin: auto;
  max-width: 1380px;
  padding: 18px 80px;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  grid-template-areas: "h h h h h h h h h h h h""p p p p p i i i i i i i""c c c c c c c c c c c c""f f f f f f f f f f f f"
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 9px 20px;
    grid-template-rows: 10px 811px auto auto
  }
}

@media only screen and (max-width: 992px) {
  .container {
    grid-column-gap: 0px;
    grid-template-columns: 1;
    grid-template-rows: 0px auto auto auto auto;
    grid-template-areas: "h h h h h h h h h h h h""i i i i i i i i i i i i""p p p p p p p p p p p p""c c c c c c c c c c c c""f f f f f f f f f f f f"
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons a {
  margin: 5px auto;
}

@media screen and (max-width: 1200px) {
  .col-2 {
    width: 100%;
  }
  .small-order-1 {
    order: 1;
  }
  .small-order-2 {
    order: 2;
  }
}

@media screen and (max-width: 900px) {
  .hero-image {
    margin-top: 30px;
    width: 90%;
    position: relative;
  }
  .copy {
    top: 0px;
  }
  .buttons {
    margin-top: 32px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .copy {
    top: 0px;
  }
  .buttons {
    margin-top: 32px;
  }
  .hero-image {
    margin-top: 60px;
    width: 75%;
    position: relative;
  }
}

@media screen and (min-width: 1201px) {
  .copy {
    top: -60px;
  }
  .buttons {
    margin-top: 56px;
  }
  .hero-image {
    width: 87%;
    left: 10%;
    position: relative;
  }
}

.section-content a {
  color: #D33A2C;
}

@media screen and (min-width: 901px) {
  .app-store {
    height: 75px;
  }
}

@media screen and (max-width: 900px) {
  .app-store {
    height: 60px;
  }
}

@media screen and (min-width: 1201px) {
  .col-2 {
    width: 50%;
    margin: auto;
  }
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -.562737px;
  margin-bottom: 15px;
}

.hero {
  text-align: center;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  section {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 1201px) {
  section {
    padding-top: 30px;
  }  
}

section {
  display: block;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 1201px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }
}

h1 {
  letter-spacing: -1px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  border: 0;
}

@media only screen and (max-width: 1200px) {
  .section-content {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1201px) {
  .section-content {
    padding: 0 80px;
  }
}

h2 {
  font-size: 40px;
}

.section-content {
  display: flex;
  max-width: 1380px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
}

.logo {
  margin-left: 0px;
  height: 32px;
  top: 4px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .nav {
    padding: 18px 20px;
  }
}

@media screen and (min-width: 1201px) {
  .nav {
    padding: 18px 80px;
  }
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.nav {
  display: flex;
  background-color: transparent;
  align-items: center;
  margin: 0 auto;
  max-width: 1380px;
}

@media screen and (max-width: 1200px) {
  .nav-links {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    top: 75px;
    left: 0;
    z-index: 100;
    background: white;
    padding: 10px;
  }
  .nav-links a {
    padding: 8px 20px;
  }
  .hamburgler {
    flex-grow: 4;
    text-align: right;
  }
}

@media screen and (min-width: 1201px) {
  .hamburgler {
    display: none;
  }
  .nav a {
    margin-left: 32px;
  }
  .nav-links {
    text-align: right;
  }
}

.visible {
  display: flex !important;
}

.nav-links {
  flex-grow: 4;
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
}

.nav a:hover {
  color: #D33A2C
}

.nav a.active {
  border-bottom: 1px solid #D33A2C;
  padding-bottom: 8px;
}

.nav .icon {
  display: none;
} 

.download {
  display: inline-block;
  color: white !important;
  background: #D33A2C;
  padding: 4px 40px;
  line-height: 42px;
  white-space: nowrap;
  font-size: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0 , 0, .08);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.screenshots {
  background-color: #D33A2C;
  height: 800px;
}

.features {
  grid-area: c;
  display: flex;
  flex: 0 1 auto;
  align-content: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  display: flex;
  padding-top: 63px;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100%/3)
}

.feature:nth-child(-n+3) {
  padding-top: 0px
}

.feature:nth-child(3n) {
  padding-right: 0px
}

.feature:nth-child(3n+1) {
  padding-left: 0px
}

.iconBack {
  color: #e6e6e6
}

.iconTop {
  color: #D33A2C
}

.socialIconBack {
  color: #e6e6e6
}

.socialIconTop {
  color: #666
}

.featureText {
  margin-left: 18px
}

.featureText>h3 {
  color: rgba(0, 0, 0, 0.85)
}

.featureText>p {
  color: #666;
  margin-top: 8px;
  line-height: 1.5
}

@media only screen and (max-width: 992px) {
  .features {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 11px
  }

  .feature {
    display: flex;
    padding-top: 41px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
  }

  .feature:nth-child(-n+3) {
    padding-top: 41px
  }

  .feature:nth-child(1) {
    padding-top: 0px
  }

  .feature:nth-child(3n) {
    padding-right: 15px
  }

  .feature:nth-child(3n+1) {
    padding-left: 15px
  }
}

@media only screen and (max-width: 375px) {
  .features {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 11px
  }

  .feature {
    display: flex;
    padding-top: 41px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%
  }

  .feature:nth-child(-n+3) {
    padding-top: 41px
  }

  .feature:nth-child(1) {
    padding-top: 0px
  }

  .feature:nth-child(3n) {
    padding-right: 0px
  }

  .feature:nth-child(3n+1) {
    padding-left: 0px
  }
}

@media screen and (max-width: 1200px) {
  footer {
    padding: 24px 20px;
    margin: 20px auto;
  }
}

@media screen and (min-width: 1201px) {
  footer {
    max-width: 1380px;
    padding: 24px 80px;
    margin: 20px auto;
  }
}

footer {
  width: 100%;
}

.borda {
  border-top: 1px solid #999;
  margin-bottom: 20px;
}

.flexible {
  color: #666;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexible a {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  margin-left: 32px;
}

.footerText {
  flex-grow: 1;
  text-align: center;
  font-size: 13px;
  color: #666;
}

.hidden {
  display: none
}
